<%= link_to @conversation.board.title, @conversation.board %>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th colspan="2"><%= @conversation.title %></th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.user.username, comment.user %>
          Posted At 
    <%= comment.created_at %>
    <%= comment.body %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @comments %>

<%= link_to 'Reply', reply_board_conversation_url(:board_id=>@board, :id=>@conversation) %> |
<%= link_to @conversation.board.title, @conversation.board %> |
<%= link_to 'The Horses Mouth', homepage_url %> | <%= link_to 'Back', @conversation.board %>


