<h1 id="page_title"><%= @board.title %></h1>
<p id="notice"><%= notice %></p>


<table>
  <tr>
    <th>Post/Author</th>
    <th>Last Reply</th>
    <th>Number of Replies</th>
  </tr>
  
<% @conversations.each do |conversation| %>
  <tr>
    <td><%= link_to conversation.title, board_conversation_path(:board_id => @board, :id => conversation) %>
    
    </td>
    <td>
      <%= conversation.comments.find(:last).created_at %>
      by                 <%= conversation.comments.find(:last).user.username %>
    </td>
    <td>
      <%= conversation.comments.count - 1 %>
    </td>
  </tr>

<% end %>
</table>
<br/>

<%= paginate @conversations %>
<br/>





<%= link_to 'Post New Message', new_board_conversation_url(@board) %> |
<%= link_to 'The Horses Mouth', homepage_url %> |
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
